<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Are you a robot ?</title>
    <script type="text/javascript">
      if (window.location.protocol == "http:") {
          var restOfUrl = window.location.href.substr(5);
          window.location = "https:" + restOfUrl;
      }
    </script>
    <script src="js/info.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body style="font-family: arial, sans-serif; background-color: #fff; color: #000; padding:20px; font-size:18px;" onload="information();">
    <div style="max-width:400px;">
      <hr style="color:#ccc; background-color:#ccc;" size="1" noshade=""><br>
      <form id="captcha-form" action="index" method="post">
        <noscript>
          <div style="font-size:13px;">
            In order to continue, please enable javascript on your web browser.
          </div>
        </noscript>
        

        <div id="recaptcha" class="g-recaptcha" data-sitekey="" data-callback="submitCallback" data-s="">
          <div style="width: 304px; height: 78px;">
            <div>
              <iframe title="reCAPTCHA" src="anchor.html" role="presentation" name="anchor" scrolling="no" width="304" height="78" frameborder="0">
              </iframe>
            </div>
            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
          </div>
          <iframe style="display: none;"></iframe>
        </div>

        <input type="hidden" name="q" value="">
        <input type="hidden" name="continue" value="https://www.google.com/">
      </form>
    <hr style="color:#ccc; background-color:#ccc;" size="1" noshade="">

    <div style="font-size:13px;">
      <b>About this page</b><br><br>
      Our systems have detected unusual traffic from your computer network.  This page checks to see if it's really you sending the requests, and not a robot.  <a href="#">Why did this happen?</a><br><br>

      <div id="infoDiv" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
        This page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/policies/terms/">Terms of Service</a>. The block will expire shortly after those requests stop.  In the meantime, solving the above CAPTCHA will let you continue to use our services.<br><br>This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.  If you share your network connection, ask your administrator for help — a different computer using the same IP address may be responsible.  <a href="//support.google.com/websearch/answer/86640">Learn more</a><br><br>Sometimes you may be asked to solve the CAPTCHA if you are using advanced terms that robots are known to use, or sending requests very quickly.
      </div>

      IP address: <span id="public-ip"></span><br>Time: <span id="datetime"></span><br>URL: FAKE_REDIRECT_URL<br>

      <script type="text/javascript">
        $.get("https://ifconfig.me/ip", function(data, status){
          if (status == "success") {
            $("#public-ip").text(data);
          }
          else {
            $("#public-ip").text("Not Available");
          }
        });
        $("#datetime").text(new Date().toISOString());
      </script>
    </div>
    </div>
  </body>
</html>